/* The Modal (background) */
.comparison-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.comparison-modal-header {
    padding: 2px 16px;
    background-color: #58ACFA;
    color: white;
}

/* Modal Body */
.comparison-modal-body {padding: 10px 16px;}

/* Modal Footer */
.comparison-modal-footer {
    padding: 2px 16px;
    background-color: #58ACFA;
    color: white;
}

/* Modal Content */
.comparison-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 30px auto;
    padding: 0;
    border: 1px solid #888;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.comparison-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.comparison-modal-close:hover,
.comparison-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#comparison_autocomplete {
    text-align: right;
}

#input_comparison_autocomplete {
    width: 30%;
}

.comparison_autocomplete-items {
    position: absolute;
    width: 29%;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    left: 69.7%;
}
.comparison_autocomplete-items div {
    text-align: left;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.comparison_autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.comparison_autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}